<div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
        <h1>Schulfächer</h1>
        <span> Die folgende Liste zeigt alle Schulfächer an, die in der Datenbank vorhanden sind</span>
    </div>
    <div class="col-lg-12 col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Fach</th>
                    <th>K&uuml;rzel</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="subject in vm.subjects">
                    <td width="800">{{ subject.subject_name }}</td>
                    <td>{{subject.subject_krz}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>