<form name="editForm" novalidate ng-submit="vm.saveChanges()">
    <h1>{{ vm.tutor.first_name }} {{ vm.tutor.last_name }}</h1>
    <div>
        <p>Klasse:</p>
        <input type="text" ng-model="vm.tutor.klasse" placeholder="Klasse" pattern="^[1-5][A-F][IMFXN]$" required>
        <p>Klassenvorstand:</p>
        <input type="text" ng-model="vm.tutor.klassenvorstand" placeholder="Klassenvorstand" required>
        <p>E-Mail:</p>
        <input type="email" ng-model="vm.tutor.email_adresse" placeholder="E-Mail" required>
        <p>Telefonnummer:</p>
        <input type="tel" ng-model="vm.tutor.telefon_nr" placeholder="Telefonnummer">
    </div>
    <div>
        <p>Bevorzugte Orte:</p>
        <input type="text" ng-model="vm.tutor.bevorzugte_orte" placeholder="Bevorzugter Ort">
        <p>Bevorzugte Zeiten:</p>
        <input type="text" ng-model="vm.tutor.bevorzugte_zeiten" placeholder="Bevorzugte Zeiten">
    </div>
    <h2>Fächer:</h2>
    <table>
        <thead>
            <tr>
                <th>Fach</th>
                <th>Lehrer</th>
                <th>Anmerkung</th>
                <th>Letzte Note</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="fach in vm.tutor.faecher">
                <td>
                    <select ng-options="subject as subject.name for subject in vm.subjects track by subject.pk_fach_id"
                            ng-model="fach.fach" required></select>
                    <button type="button" ng-click="vm.removeSubject($index)" ng-hide="$first && $last">-</button>
                </td>
                <td>
                    <select ng-options="teacher as teacher.nachname for teacher in vm.teachers track by teacher.pk_lehrer_id"
                            ng-model="fach.lehrer" required></select>
                </td>
                <td>
                    <input type="text" placeholder="Anmerkung" ng-model="fach.faehigkeiten_anmerkung">
                </td>
                <td>
                    <select ng-model="fach.letzte_zeugnisnote" required>
                        <option value="1">Sehr Gut</option>
                        <option value="2">Gut</option>
                        <option value="3">Befriedigend</option>
                        <option value="4">Genügend</option>
                        <option value="5">Nicht Genügend</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="button" ng-click="vm.addSubject()">+</button>
    <button type="submit" ng-disabled="editForm.$invalid">Speichern</button>
</form>
<button ng-click="vm.returnToProfile()">Abbrechen</button>
