<form name="registerForm" novalidate ng-submit="vm.register()">
    <div class="subject" ng-repeat="subject in vm.subjects">
        <select ng-model="subject.fach" required>
            <option disabled>Fach wählen...</option>
            <option ng-value="3">SEW</option>
            <option ng-value="4">E</option>
        </select>
        <select ng-model="subject.lehrer" required>
            <option disabled>Lehrer wählen...</option>
            <option ng-value="5">STR</option>
            <option ng-value="6">STF</option>
        </select>
        <input type="text" placeholder="Anmerkung" ng-model="subject.anmerkung">
        <button ng-click="vm.removeSubject($index)">-</button>
    </div>
    <button ng-click="vm.addSubject()">+</button>
    <select ng-model="vm.fields.klasse" required>
        <option disabled>Klasse wählen...</option>
        <option ng-value="5">5BI</option>
    </select>
    <input type="email" ng-model="vm.fields.email" placeholder="E-Mail">
    <input type="tel" ng-model="vm.fields.telefonnummer" placeholder="Telefonnummer">
    <input type="text" ng-model="vm.fields.bevorzugte_orte" placeholder="Bevorzugter Ort">
    <input type="text" ng-model="vm.fields.bevorzugte_zeiten" placeholder="Bevorzugte Zeiten">
    <button type="submit" ng-disabled="registerForm.$invalid">Registrieren</button>
</form>